.game{
    display: inline-block;
    height: 200px;
    width: 150px;
    font-size: small;
    text-align: center;
    flex-wrap: wrap;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 5px;
}
.completed{
    background-color: green;
}
img{
    width: 100%;
}