.topbar {
    text-align: center;
}
.error {
    text-align: center;
}
.displayedGames{
    text-align: left;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
}
.completed{
    background-color: green;
}
.gameTable{
    width: 100%;
}
.cell{
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    font-size: large;
}
.cell-img{
    width: 100%;
}
.header{
    text-align: center;
}
.completed-img{
    height: 100px;
    width: 100px;
}
body{
    color: white;
}