<p *ngIf="errorMessage != ''">{{errorMessage}}</p>
<div class="topbar">
    <p *ngIf="user != null && user != undefined">{{user.name}}'s Library</p>
    <p *ngIf="user != null && user != undefined">Average playtime per game: {{user.avgPlayTime}} hours</p>
    <p *ngIf="user != null && user != undefined">Number of uncompleted games in library: {{user.numUncompletedGames}}</p>
    <p *ngIf="user != null && user != undefined">{{user.percentCompleted}}% of your library has been completed</p>
    <div class="controls">
        <div class="displayedGames">
            <input type="radio" id="all" name="displayed" value="all" checked="true" (change)="changeDisplayedGames($event)">
            <label for="all">All Games</label>
            <br/>
            <input type="radio" id="uncompleted" name="displayed" value="uncompleted" (change)="changeDisplayedGames($event)">
            <label for="uncompleted">Uncompleted Games</label>
        </div>
        <button (click)="getRandomGame()">Pick Random Game</button>
    </div>
</div>
<!--<app-library class="library" *ngIf="user != null && user != undefined" [games]="user.library"></app-library>-->
<table matSort (matSortChange)="sortData($event)">

    <tr>
        <th mat-sort-header="completed">Completed?</th>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="img">Logo</th>
        <th mat-sort-header="hoursPlayed">Hours Played</th>
    </tr>

    <tr (click)="swapCompleted(game)" *ngFor="let game of sortedLibrary">
        <td>{{game.completed}}</td>
        <td>{{game.name}}</td>
        <td><img [src]="game.img"></td>
        <td>{{game.hoursPlayed}}</td>
    </tr>

</table>
    