.topbar {
    text-align: center;
    font-size: large;
    height: auto;
    width: 100%;
    background-color: #042430;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-top: 5px;
}
.topbar p{
    margin: 3px
}
.error {
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
}
.displayedGames{
    text-align: left;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.completed{
    background-color: green;
}
.completed-img{
    width: 100%;
}
.gameTable{
    width: 100%;
}
.cell{
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    font-size: large;
}
.cell-img{
    width: 100%;
}
.header{
    text-align: center;
}
.completed-img{
    height: 100px;
    width: 100px;
}
body{
    display: flex;
    flex-flow: column;
    height: 100%;
    color: white;
    background-color: #646c76;
}
.header-cell{
    z-index: 1 !important;
    background-color: #042430;
    color: white;
}
.mat-cell{
    background-color: #646c76;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    border-bottom: 2px solid white;
}
.radio-group{
    display: inline-block;
    text-align: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.mat-radio-inner-circle{
    background-color: white;
}
.header-row{
    text-align: center;
}
.back-button{
    text-align: left;
}
.games{
    overflow-y: scroll;
}
body{
    height: 100vh;
}
td.mat-cell:first-of-type{
    padding-left: 0px !important;
}