/* You can add global styles to this file, and also import other style files */
html{
    min-height: 100%;
    background-image: linear-gradient(#042430,#646c76);
}
body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }
